<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This is my weather application. </p>
        <p> I created this to gain more experience with Javascript and React.js. </p>
        <p> The <a href = "https://darksky.net/">DarkSky</a> and <a href = "https://www.mapbox.com/">MapBox</a> Microservices were used in the making of this application. </p>
    </div>
    
    {{>footer}}
</body>

</html>