<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> You can enter the name of any location and press Search.</p> 
        <p> You will recieve the area's weather information.</p>
        <p> There may be multiple locations with the same name or abbreviation; you can include the state or country to get more specific data.</p>
    </div>
    
    {{>footer}}
</body>

</html>
